@font-face{
    font-family: "raleway";
    src: url('Raleway-VariableFont_wght.ttf');
}

a{
    text-decoration: none;
    color: black;
}

#app{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
    font-family: "raleway";
}

/* CSS partie header */

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
}

.logo{
    max-height: 19px;
}

.menu{
    list-style-type: none;
    display: flex;
    padding-right: 77px;
}

.lien a{
    color: #0065fc;
    padding-right: 67px;
}

/* CSS section recherche */

.recherche h2{
    font-size: 16px;
    font-weight: 400;
}

.espace_recherche{
    margin-top: 21px;
}

form{
    display: flex;
}

.localisation{
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
   border-style: none;
   font-family: "raleway";
   padding-left: 16px;
   font-weight: bold;
   font-size: 18px;
   border-top: #F2F2F2 2px solid;
   border-bottom: #F2F2F2 2px solid;
}

.bouton_recherche{
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    color: white;
    border-style: none;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 700;
    font-family: "raleway";
}

.filtres{
    display: flex;
    margin-top: 30px;
}

.filtres article{
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    display: flex;
    margin-left: 50px;
    padding: 0px 15px;
}

.filtres article:hover{
    border: #0065fc solid 2px;
}

.filtres i{
    display: flex;
    align-items: center;
    padding-right: 15px;
    color: #0065fc;
}

.information{
    display: flex;
    align-items: center;
    margin-top: 53px;
}

.information i{
    border: 2px #F2F2F2 solid;
    border-radius: 50px;
    color: #0065fc;
    padding: 3px 9px 3px 9px;
    margin-right: 11px;
}

/* CSS section hebergement */

.hebergements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 39px;
}

.card_hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_hebergement article img{
    border-radius: 20px 20px 0px 0px;
    max-width: 110%;
}

.card_hebergement article{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 11px;
    height: auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card_hebergement .wrapper{
    width: 246px;
    height: 124px;
}

.card_hebergement article h4{
    margin: 9px 16px;
}
.card_hebergement article p{
    margin: 9px 16px;
}

.card_hebergement .note{
    margin-left: 16px;
    height: 11px;
    color: #0065fc;
    padding-bottom: 11px;
}

.card_populaire .note{
    color: #0065fc;
}
.note .etoile{
    color: #F2F2F2;
 }

.card_populaire .hotel{
    margin-left:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_populaire .hotel h4{
    margin-bottom:15px;
    margin: 0px;
    padding-top: 16px;
}

.card_populaire img{
    border-radius: 20px 0px 0px 20px;
    max-width: 110%;
}

.card_populaire .wrapper{
    width: 137px;
    height: 144px;
}

.card_populaire article{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 11px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1)
}
 
.card_populaire a{
    display: flex;
}
aside .titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside .titre i{
    color: #0065fc;
}

.card{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 880px;
    height: 625px;
    padding: 42px 40px;
    margin-right: 40px;
}

aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 420px;
    height: 625px;
    padding: 41px 37px;
}

/* CSS section activites */

.activites{
    margin-top: 60px;
}
.card_activites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activites .photo{
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.wrapper{
    position: relative;
    overflow: hidden;
}

.wrapper img{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

.activites h4{
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 0px;
}

/* CSS partie footer */

.container{
    margin-top: 67px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: start;
    padding: 45px 70px;
}

.container article{
    width: 100%;
}

.container h3{
    margin-bottom: 20px;
}

.container h4 {
    margin-bottom: 12px;
    font-weight: 400;
}

